.content-wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.main {
  position: relative;
  float: right;
  width: calc(100% - 220px);
  height: calc(100vh - 160px);
}

.sidebar {
  float: left;
  height: calc(100vh - 160px);
  width: 210px;
  border-right: solid 1px #a9a9a9;
}

.disable-link {
  pointer-events: none;
  color: #d3d3d3;
}

.headline {
  text-align: center;
}

/**
 * パンくずリストのスタイル
 */

.breadcrumb-list ol li {
  display: inline;
}

.breadcrumb-list ol li::after {
  content: '>';
  padding: 7px;
}

.breadcrumb-list ol li:last-child::after {
  content: none;
}

.breadcrumb-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * 本セレクタが適用された element は文中の改行がブラウザ上の表示にも反映される.
 */
.article {
  white-space: pre-wrap;
}

/**
 * form 関連のスタイル
 */
.form-label {
  display: block;
}

.contents-title > #title {
  width: 450px;
}

.contents-author > #author {
  width: 450px;
}

.contents-summary > #summary {
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  height: 200px;
}

.contents-footer {
  position: absolute;
  bottom: 0;
}

